name: Merge Queue Manager
on:
  schedule:
    - cron: '*/5 * * * *'
  push:
    branches: [main]

concurrency:
  group: merge-queue-processor
  cancel-in-progress: false

jobs:
  process-queue:
    runs-on: ubuntu-latest
    steps:
      - uses: joshbutterworthbw/merge-queue/src/actions/process-queue@v1
        with:
          github-token: ${{ secrets.MERGE_QUEUE_TOKEN }}